{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <title>Skany z anten</title>
{% endblock %}

{% block body %}
    <h1>Wrzuć plik tekstowy ze skanem</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file" accept=".txt"></p>
      <p><input type="submit" value="Prześlij"></p>
    </form>
    <p>Sortowanie:</p>
    <radio>
        <input type="radio" name="sortingMode" value="1"> Kanał
        <input type="radio" name="sortingMode" value="2"> SSID
        <input type="radio" name="sortingMode" value="3" checked> Siła sygnału
    </radio>
    <h3>Rezultaty ostatniego skanu:</h3>
    <div>
        <pre class="code-block"><code class="code-block">{{text}}</code></pre>
    </div>
{% endblock %}